{extend name="layout"}

{block name="content"}
<div class="content animated">
    <div class="row">
        <div class="col-md-12">
            <div class="block">
                <div class="block-header bg-gray-lighter">
                    <ul class="block-options">
                        <li>
                            <button type="button" data-toggle="block-option" data-action="refresh_toggle"
                                    data-action-mode="demo"><i class="si si-refresh"></i></button>
                        </li>
                        <li>
                            <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i
                                    class="si si-size-fullscreen"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">角色管理</h3>
                </div>
                <div class="block-content tab-content">
                    <div class="tab-pane active">
                        <div class="row data-table-toolbar">
                            <div class="col-sm-12">
                                <div class="toolbar-btn-action">
                                    <a title="新增" icon="fa fa-plus-circle" class="btn btn-primary"
                                       href="{:url('/admin/role/create')}"><i class="fa fa-plus-circle"></i> 新增</a>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-builder table-hover table-bordered table-striped js-table-checkable">
                                <thead>
                                <tr>
                                    <th class="text-center" style="width: 50px;">
                                        <label class="css-input css-checkbox css-checkbox-primary remove-margin-t remove-margin-b">
                                            <input id="check-all" type="checkbox"><span></span>
                                        </label>
                                    </th>
                                    <th width="80">ID
                                        <a href="" class="pull-right" data-toggle="tooltip" data-original-title="排序"><i
                                                class="fa fa-sort text-muted"></i></a>
                                    </th>
                                    <th>角色名</th>
                                    <th>描述</th>
                                    <th>状态</th>
                                    <th width="120">操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                {notempty name="role"}
                                {foreach $role as $v}
                                <tr class="text-c">
                                    <td class="text-center">
                                        <label class="css-input css-checkbox css-checkbox-primary">
                                            <input class="ids" name="ids[]" value="{$v.id}"
                                                   type="checkbox"><span></span>
                                        </label>
                                    </td>
                                    <td>{$v.id}</td>
                                    <td>{$v.name}</td>
                                    <td>{$v.rmk}</td>
                                    <td>
                                        <label class="css-input switch switch-sm switch-primary" title="开启/关闭"><input
                                                data-table="role" data-id="{$v.id}" data-field="status"
                                                checked="{$v['status'] ? 1 : ''}" type="checkbox"><span></span></label>
                                    </td>
                                    <td class="f-14 td-manage">
                                        <div class="btn-group">
                                            {if $v['id'] == 1}
                                            <button class="btn btn-danger btn-s" type="button" disabled="">不可操作</button>
                                            {else}
                                            <a title="" icon="fa fa-pencil" class="btn btn-s btn-default"
                                               href="{:url('/admin/role/edit/id/'.$v['id'])}" target="_self"
                                               data-toggle="tooltip" data-original-title="编辑"><i
                                                    class="fa fa-pencil"></i></a>
                                            <a title="" icon="fa fa-times"
                                               class="btn btn-s btn-default ajax-get confirm"
                                               href="{:url('/admin/role/delete',['ids'=>$v['id'],'table'=>'roles'])}" data-toggle="tooltip"
                                               data-original-title="删除"><i class="fa fa-times"></i></a>
                                            {/if}
                                        </div>
                                    </td>
                                </tr>
                                {/foreach}
                                {else}
                                <tr class="table-empty">
                                    <td class="text-center empty-info" colspan="10">
                                        <i class="fa fa-database"></i> 暂无数据<br>
                                    </td>
                                </tr>
                                {/notempty}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="footer"}
<script src="/asstes/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/asstes/js/plugins/bootstrap3-editable/js/bootstrap-editable.js"></script>
<script src="/asstes/js/plugins/jquery-validation/additional-methods.js"></script>
<script src="/admin/js/table.js"></script>
{/block}