<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {include file="meta"/}
    
    <link rel="stylesheet" type="text/css" href="/static/css/themes.css"/>
</head>
<body>
<!--头部内容-->
{include file="header"/}
<div class="wrapper w1000">
    <div class="breadcrumb">
        <span class="fl"><strong>当前位置：</strong> <a href="/"><i class="fa fa-home"></i> 首页</a> » 在线工具 »</span>
        <div class="clear"></div>
    </div>
    <div class="content-wide-waterfall">
        <div class="contentShow fl">
            <div class="search-list">
                <div class="u-con-item">
                    <div class="u-con-info1">
                    <span class="objTitle">
                        <a class="title2" target="_blank" href="/tools/fenci.html">PHP中文在线分词</a>
                    </span>
                        <p class="m-tags">所属分类：[中文分词]</p>
                        <p class="m-info">
                            phpanalysis分词工具，此工具可以实现PHP中文在线分词功能
                        </p>
                    </div>
                </div>
                <div class="u-con-item">
                    <div class="u-con-info1">
                    <span class="objTitle">
                        <a class="title2" target="_blank" href="/tools/pinyin.html">在线汉字转拼音工具</a>
                    </span>
                        <p class="m-tags">所属分类：[汉字转拼音]</p>
                        <p class="m-info">
                            在线汉字转拼音工具，此工具具有将一段中文字转换成拼音的功能
                        </p>
                    </div>
                </div>
                <div class="u-con-item">
                    <div class="u-con-info1">
                    <span class="objTitle">
                        <a class="title2" target="_blank" href="/tools/seoai.html">智能AI文章伪原创</a>
                    </span>
                        <p class="m-tags">所属分类：[seo工具]</p>
                        <p class="m-info">
                            智能AI文章伪原创是专门生成原创及伪原创文章的在线工具，用不念智能AI文章伪原创工具可以把在互联网上复制的文章瞬间变成原创文章。本工具是一款免费的专通过伪原创工具生成的文章，
                            会更好的被搜索引擎收录和索引到。此工具适合中,小型网站站长、网站编辑，网站将一直持续更新算法，为您更好的服务！
                        </p>
                    </div>
                </div>
                <div class="u-con-item">
                    <div class="u-con-info1">
                    <span class="objTitle">
                        <a class="title2" target="_blank" href="/tools/md5.html">MD5在线加密工具</a>
                    </span>
                        <p class="m-tags">所属分类：[加密解密]</p>
                        <p class="m-info">
                            MD5在线加密工具，在线MD5加密工具，此工具可以实现md5在线加密功能
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar fr">
            <!--<div class="b20"></div>-->
            {include file="tags"/}
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
<!--尾部内容-->
{include file="footer"/}
</body>
</html>