<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {include file="meta"/}
    <link rel="stylesheet" type="text/css" href="/static/css/member.css?v=20190904-1"/>
    <script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>

<!--头部内容-->
{include file="header"/}



<div class="wrapper w1000">
    <!--用户中心右边内容-->
    {include file="member/member_right"}
    <div class="member_main">
        <ul class="info-title">
            <li class="hover"><i class="fa fa-envelope"></i> 我的消息</li>
            <li class="more-r"><a target="_blank" href="https://promotion.aliyun.com/ntms/yunparter/invite.html?userCode=etxd8sor">😉 阿里云幸运券，戳我领取</a></li>
        </ul>
        <div class="b20"></div>
        <div class="informlog b1">
            <div class="tit"><span class="fl"><i class="fa fa-envelope-o"></i> 系统消息</span><span class="fr">2019-10-25 14:39</span><div class="clear"></div></div>
            <div class="con"><p>欢迎您加入1024素材网。我们为拥有您这样的会员而自豪！</p>
                <p>遇到问题请第一时间联系我：QQ1149986622</p>
                <p><a target="_blank" href="">官方网站学习交流QQ群 - <img border="0" src="http://pub.idqqimg.com/wpa/images/group.png" alt="1024素材网交流群" title="1024素材网交流群"></a></p>
                <p>积分获取和说明：<a href="/info/28.html" target="_blank">/info/28.html</a></p>
                <hr>
                <p>1024素材网最精准的素材教程发布、分享平台（）</p></div>
        </div>
    </div>
    <div class="clear"></div>
</div>


<!--尾部内容-->
{include file="footer"/}

<script type="text/javascript">
    jQuery(".picMarquee-left").slide({mainCell:".bd ul",autoPlay:true,effect:"leftMarquee",vis:3,interTime:50,trigger:"click"});
</script>
</body>
</html>