<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {include file="meta"/}
    <link rel="stylesheet" type="text/css" href="/static/css/member.css?v=20190904-1"/>
    <script type="text/javascript" src="/static/js/jquery.SuperSlide.2.1.1.js"></script>
</head>
<body>

<!--头部内容-->
{include file="header"/}




<div class="wrapper w1000">
    <!--用户中心右边内容-->
    {include file="member/member_right"}
    <div class="member_main">
        <div class="integral-mdoel clearfix">
            <div class="integral-info">
                <div class="tit">我的牛币</div>
                <div class="con"><i class="fa fa-btc" aria-hidden="true"></i> <span class="number">7</span><a target="_blank" href="/recharge-index/1.html" class="pay-btn">充值</a></div>
            </div>
            <div class="integral-info">
                <div class="tit">我的钻石</div>
                <div class="con"><i class="fa fa-diamond" aria-hidden="true"></i> <span class="number">0</span><a target="_blank" href="/recharge-index/2.html" class="pay-btn">充值</a></div>
            </div>
            <div class="integral-info">
                <div class="tit">我的等级</div>
                <div class="con">经验：<span class="number">8</span> - <span class="m-level" style="color:#999999;">Lv1 菜鸟</span></div>
            </div>
            <div class="integral-info">
                <div class="tit">会员特权</div>
                <div class="con">普通会员<a target="_blank" href="/recharge-vip.html" class="pay-btn">升级</a></div>
            </div>
        </div>
        <div class="quick-nav clearfix">
            <ul>
                <li><a href="/member/myfavorite.html"><i class="fa fa-heart-o"></i><p>我的收藏</p></a></li>
                <li><a href="/member/set.html"><i class="fa fa-user-o"></i><p>资料管理</p></a></li>
                <li><a href="/member/qiandao.html"><i class="fa fa-pencil-square-o"></i><p>每日签到</p></a></li>
                <li><a href="/member/mysoft.html"><i class="fa fa-folder-open-o"></i><p>我的投稿</p></a></li>
                <li><a href="/member/bbs.html"><i class="fa fa-comments-o"></i><p>我的帖子</p></a></li>
                <li><a href="/thread/5.html"><i class="fa fa-bullhorn"></i><p>站务公告</p></a></li>
            </ul>
        </div>
        <div class="bianqian-model">
            <div class="s-url">我的网络便签：<a href="/s/813658.html">/s/813658.html</a></div>
            <div class="s-con">
                <a target="_blank" href="/web-note.html">使用说明</a>
                <a target="_blank" href="/read/3422.html">问题反馈</a>
            </div>
        </div>
        <ul class="info-title">
            <li class="hover"><i class="fa fa-users" aria-hidden="true"></i> 最新VIP会员</li>
            <li class="sm">（每6小时更新一次数据）</li>
            <li class="more-r"><a target="_blank" href="/recharge-vip.html">查看会员特权？</a></li>
        </ul>
        <div class="picMarquee-left">
            <div class="bd clearfix">
                <div class="stylesgoleft"><i class="fa fa-chevron-left" aria-hidden="true"></i></div>
                <div class="tempWrap" style="overflow:hidden; position:relative; width:867px"><ul class="picList" style="width: 7225px; position: relative; overflow: hidden; padding: 0px; margin: 0px; left: -1391px;"><li class="clone" style="float: left; width: 274px;">
                    <a target="_blank" href="/recharge-vip.html">
                        <div class="pic-model">
                            <div class="p-headimg"><img src="/themes/index/images/headImg/3.png"></div>
                            <div class="p-con">
                                <div class="p-uname">黄***艺</div>
                                <div class="p-sm">已购买VIP1特权（30元）</div>
                                <div class="p-time">2019-10-28 04:43</div>
                            </div>
                        </div>
                    </a>
                </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/33.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">轻***却</div>
                                    <div class="p-sm">已购买VIP1特权（30元）</div>
                                    <div class="p-time">2019-10-28 10:33</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/48.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">陈***8</div>
                                    <div class="p-sm">已购买SVIP特权（288元）</div>
                                    <div class="p-time">2019-10-28 09:55</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/16.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">陈***丶</div>
                                    <div class="p-sm">已购买VIP1特权（30元）</div>
                                    <div class="p-time">2019-10-28 09:53</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/25.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">转***鬼</div>
                                    <div class="p-sm">已购买VIP1特权（30元）</div>
                                    <div class="p-time">2019-10-28 09:47</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/22.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">闪***星</div>
                                    <div class="p-sm">已购买VIP2特权（88元）</div>
                                    <div class="p-time">2019-10-28 09:41</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/29.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">迷***文</div>
                                    <div class="p-sm">已购买VIP2特权（88元）</div>
                                    <div class="p-time">2019-10-28 09:33</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/47.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">阿***t</div>
                                    <div class="p-sm">已购买VIP2特权（88元）</div>
                                    <div class="p-time">2019-10-28 09:08</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/no.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">zh***ao</div>
                                    <div class="p-sm">已购买VIP2特权（88元）</div>
                                    <div class="p-time">2019-10-28 09:06</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/39.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">gy***23</div>
                                    <div class="p-sm">已购买VIP2特权（88元）</div>
                                    <div class="p-time">2019-10-28 08:50</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/38.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">Ga***er</div>
                                    <div class="p-sm">已购买VIP1特权（30元）</div>
                                    <div class="p-time">2019-10-28 08:27</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/29.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">阿***扫</div>
                                    <div class="p-sm">已购买VIP1特权（30元）</div>
                                    <div class="p-time">2019-10-28 08:13</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/no.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">un***oo</div>
                                    <div class="p-sm">已购买SVIP特权（288元）</div>
                                    <div class="p-time">2019-10-28 08:06</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/21.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">风***Q</div>
                                    <div class="p-sm">已购买VIP2特权（88元）</div>
                                    <div class="p-time">2019-10-28 07:42</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/5.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">st***en</div>
                                    <div class="p-sm">已购买VIP1特权（30元）</div>
                                    <div class="p-time">2019-10-28 07:20</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/44.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">qw***23</div>
                                    <div class="p-sm">已购买VIP2特权（88元）</div>
                                    <div class="p-time">2019-10-28 07:15</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/no.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">sh***ao</div>
                                    <div class="p-sm">已购买SVIP特权（288元）</div>
                                    <div class="p-time">2019-10-28 06:54</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/44.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">贼***9</div>
                                    <div class="p-sm">已购买VIP2特权（88元）</div>
                                    <div class="p-time">2019-10-28 06:16</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/21.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">24***23</div>
                                    <div class="p-sm">已购买VIP1特权（30元）</div>
                                    <div class="p-time">2019-10-28 05:29</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/44.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">鬼***0</div>
                                    <div class="p-sm">已购买SVIP特权（288元）</div>
                                    <div class="p-time">2019-10-28 05:29</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/30.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">he***ba</div>
                                    <div class="p-sm">已购买VIP1特权（30元）</div>
                                    <div class="p-time">2019-10-28 05:22</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/3.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">黄***艺</div>
                                    <div class="p-sm">已购买VIP1特权（30元）</div>
                                    <div class="p-time">2019-10-28 04:43</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="clone" style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/33.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">轻***却</div>
                                    <div class="p-sm">已购买VIP1特权（30元）</div>
                                    <div class="p-time">2019-10-28 10:33</div>
                                </div>
                            </div>
                        </a>
                    </li><li class="clone" style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/48.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">陈***8</div>
                                    <div class="p-sm">已购买SVIP特权（288元）</div>
                                    <div class="p-time">2019-10-28 09:55</div>
                                </div>
                            </div>
                        </a>
                    </li><li class="clone" style="float: left; width: 274px;">
                        <a target="_blank" href="/recharge-vip.html">
                            <div class="pic-model">
                                <div class="p-headimg"><img src="/themes/index/images/headImg/16.png"></div>
                                <div class="p-con">
                                    <div class="p-uname">陈***丶</div>
                                    <div class="p-sm">已购买VIP1特权（30元）</div>
                                    <div class="p-time">2019-10-28 09:53</div>
                                </div>
                            </div>
                        </a>
                    </li></ul></div>
                <div class="stylesgoright"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>


<!--尾部内容-->
{include file="footer"/}

<script type="text/javascript">
    jQuery(".picMarquee-left").slide({mainCell:".bd ul",autoPlay:true,effect:"leftMarquee",vis:3,interTime:50,trigger:"click"});
</script>
</body>
</html>