{extend name="layout" /}

{block name="meta"}
    <link rel="stylesheet" href="/plugins/bootstrap3-editable/css/bootstrap-editable.css">
    <style>
        .textarea{min-width: 20%;word-wrap:break-word;table-layout:fixed;word-break:break-all;}
        .textarea-edit.editable.editable-click {
            display: block;
            width: 100%;
            max-height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    </style>
{/block}

{block name="content"}
    <div class="content animated">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <div class="block-header bg-gray-lighter">
                        <ul class="block-options">
                            <li>
                                <button type="button" data-toggle="block-option" data-action="refresh_toggle" data-action-mode="demo"><i class="si si-refresh"></i></button>
                            </li>
                            <li>
                                <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                            </li>
                        </ul>
                        <h3 class="block-title">系统设置</h3>
                    </div>
                    <div class="block-content tab-content">
                        <div class="tab-pane active">
                            <div class="row data-table-toolbar">
                                <div class="col-sm-12">
                                    <form class="pull-right search-bar" method="get" action="{:url('/config/index')}" role="form">
                                        <input type="hidden" name="search_field" id="search-field" value="title|name">
                                        <div class="input-group">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" id="search-btn" data-toggle="dropdown" type="button" aria-expanded="false">
                                                    搜索 <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a tabindex="-1" href="javascript:void(0)" data-field="title|name">搜索</a>
                                                    </li>
                                                    <li>
                                                        <a tabindex="-1" href="javascript:void(0)" data-field="title">标题</a>
                                                    </li>
                                                    <li>
                                                        <a tabindex="-1" href="javascript:void(0)" data-field="name">名称</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <input type="text" class="form-control" value="" name="keyword" placeholder="标题/名称">
                                        </div>
                                    </form>


                                    <div class="toolbar-btn-action">
                                        <a title="新增" icon="fa fa-plus-circle" class="btn btn-primary" href="{:url('/config/create')}"><i class="fa fa-plus-circle"></i> 新增</a>
                                        <a title="启用" icon="fa fa-check-circle-o" class="btn btn-success ajax-post confirm" target-form="ids" href="{:url('/config/enbale')}?table=configs"><i class="fa fa-check-circle-o"></i> 启用</a>
                                        <a title="禁用" icon="fa fa-ban" class="btn btn-warning ajax-post confirm" target-form="ids" href="{:url('/config/disable')}?table=configs"><i class="fa fa-ban"></i> 禁用</a>
                                        <a title="删除" icon="fa fa-times-circle-o" class="btn btn-danger ajax-post confirm" target-form="ids" href="{:url('/config/delete')}?table=configs"><i class="fa fa-times-circle-o"></i> 删除</a>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-builder table-hover table-bordered table-striped js-table-checkable">
                                    <thead>
                                    <tr>
                                        <th class="text-center">
                                            <label class="css-input css-checkbox css-checkbox-primary remove-margin-t remove-margin-b">
                                                <input type="checkbox" id="check-all"><span></span>
                                            </label>
                                        </th>
                                        <th class="column-title  ">
                                            标题
                                            <span>
                                                <a href="{:url('/config/index')}?_by={$_by}&_order=title" data-toggle="tooltip" data-original-title="排序"><i class="fa {if(empty(input('_by')) || $field != 'title' )} fa-sort text-muted {elseif($_by == 'asc' && $field == 'title') /} fa-caret-up {elseif($_by == 'desc' && $field == 'title') /} fa-caret-down {/if}"></i></a>
                                            </span>
                                        </th>
                                        <th class="column-name  ">
                                            名称
                                            <span>
                                                <a href="{:url('/config/index')}?_by={$_by}&_order=name" data-toggle="tooltip" data-original-title="排序"><i class="fa {if(empty(input('_by')) || $field != 'name' )} fa-sort text-muted {elseif($_by == 'asc' && $field == 'name') /} fa-caret-up {elseif($_by == 'desc' && $field == 'name') /} fa-caret-down {/if}"></i></a>
                                            </span>
                                        </th>
                                        <th class="column-value  ">
                                            值
                                            <span>
                                                <a href="{:url('/config/index')}?_by={$_by}&_order=value" data-toggle="tooltip" data-original-title="排序"><i class="fa {if(empty(input('_by')) || $field != 'value' )} fa-sort text-muted {elseif($_by == 'asc' && $field == 'value') /} fa-caret-up {elseif($_by == 'desc' && $field == 'value') /} fa-caret-down {/if}"></i></a>
                                            </span>
                                        </th>
                                        <th class="column-group  ">
                                            分组
                                            <a href="javascript:void(0);" class="field-filter" data-filter="group" data-list="" data-type="radio" data-table="configs" data-options="config_group" data-field-display="group" data-toggle="tooltip" data-original-title="筛选"><i class="fa fa-filter text-muted"></i></a>
                                        </th>
                                        <th class="column-type  ">
                                            类型
                                            <a href="javascript:void(0);" class="field-filter" data-filter="type" data-list="" data-type="checkbox" data-table="configs" data-options="form_item_type" data-field-display="type" data-toggle="tooltip" data-original-title="筛选"><i class="fa fa-filter text-muted"></i></a>
                                        </th>
                                        <th class="column-status  ">
                                            状态
                                        </th>
                                        <th class="column-sort ">排序 <span></span></th>
                                        <th class="column-right_button  ">操作 <span></span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {foreach($list as $v)}
                                    <tr class="text-c">
                                        <td class="text-center">
                                            <label class="css-input css-checkbox css-checkbox-primary">
                                                <input class="ids" name="ids[]" value="{$v['id']}"
                                                       type="checkbox"><span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="text-edit editable editable-click"
                                               data-placeholder="标题" data-table="configs" data-type="text"
                                               data-pk="{$v['id']}" data-name="title" data-original-title="" title="">
                                                {$v['title']}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="text-edit editable editable-click"
                                               data-placeholder="名称" data-table="configs" data-type="text"
                                               data-pk="{$v['id']}" data-name="name" data-original-title="" title="">
                                                {$v['name']}
                                            </a>
                                        </td>
                                        <td class="textarea">
                                            <a href="javascript:void(0);" class="textarea-edit editable editable-click"
                                               data-placeholder="值" data-table="configs" data-type="textarea"
                                               data-pk="{$v['id']}" data-name="value" data-original-title="" title="">{$v['value']|raw}</a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="select-edit editable editable-click"
                                               data-placeholder="分组" data-table="configs" data-type="select" data-value="{$v['group']}" data-source={:json_encode(config('config_group'))}
                                               data-pk="{$v['id']}" data-name="group">
                                                {:config('config_group')[$v['group']]}
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="select-edit editable editable-click"
                                               data-placeholder="类型" data-table="configs" data-type="select" data-value="{$v['type']}" data-source={:json_encode(config('form_item_type'))}
                                               data-pk="{$v['id']}" data-name="type">
                                                {:config('form_item_type')[$v['type']]}
                                            </a>
                                        </td>
                                        <td>
                                            <label class="css-input switch switch-sm switch-primary" title="开启/关闭">
                                                <input data-table="configs" data-id="{$v['id']}" data-field="status" {if($v['status'] == 1)} checked {/if} type="checkbox">
                                                <span></span>
                                            </label>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0);" class="text-edit editable editable-click"
                                               data-placeholder="排序" data-table="configs" data-type="text"
                                               data-pk="{$v['id']}" data-name="sort" data-original-title="" title="">
                                                {$v['sort']}
                                            </a>
                                        </td>
                                        <td class="f-14 td-manage">
                                            <div class="btn-group">
                                                <a title="" icon="fa fa-pencil" class="btn btn-s btn-default"
                                                   href="{:url('/config/edit',['id'=>$v['id']])}" target="_self"
                                                   data-toggle="tooltip" data-original-title="编辑"><i class="fa fa-pencil"></i></a>
                                                <a title="" icon="fa fa-times"
                                                   class="btn btn-s btn-default ajax-get confirm"
                                                   href="{:url('/config/delete',['ids'=>$v['id'],'table'=>'configs'])}" data-toggle="tooltip"
                                                   data-original-title="删除"><i class="fa fa-times"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {/foreach}
                                    <tr>
                                        <td colspan="9" class="text-center">
                                            {$list->render()|raw}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}

{block name="footer"}
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="/plugins/jquery-validation/additional-methods.js"></script>

{/block}