{extend name="layout" /}

{block name="meta"}

{/block}

{block name="content"}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="block">
                <div class="block-header bg-gray-lighter">
                    <ul class="block-options">
                        <li>
                            <button type="button" class="page-reload"><i class="si si-refresh"></i></button>
                        </li>
                        <li>
                            <button type="button" data-toggle="block-option" data-action="fullscreen_toggle">
                                <i class="si si-size-fullscreen"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">{:this_action($action)}</h3>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="block-content">
                            <form class="form-builder row" name="form-builder" method="post">
                                <div class="form-group hidden " id="form_group_id">
                                    <input type="hidden" name="id" value="{$id}" class="form-control">
                                </div>
                                
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <label class="col-xs-12" for="level">等级：</label>
                                    <div class="col-xs-12 col-md-12 col-lg-10">
                                        <input class="form-control" type="text" id="level" name="level" value="{$level}">
                                        <div class="help-block"></div>
                                    </div>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <label class="col-xs-12" for="name">头衔：</label>
                                    <div class="col-xs-12 col-md-12 col-lg-10">
                                        <input class="form-control" type="text" id="name" name="name" value="{$name}">
                                        <div class="help-block"></div>
                                    </div>
                                </div>
    
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                    <label class="col-xs-12" for="exp">经验：</label>
                                    <div class="col-xs-12 col-md-12 col-lg-10">
                                        <input class="form-control" type="text" id="exp" name="exp" value="{$exp}">
                                        <div class="help-block"></div>
                                    </div>
                                </div>
    
                                <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="form_group_file">
                                    <label class="col-xs-12" for="title">头衔：</label>
                                    <div class="col-xs-12 col-md-12 col-lg-10">
                                        <input class="form-control" type="text" id="file" name="file" value="{$token}">
                                        <div class="help-block"></div>
                                    </div>
                                </div>-->
                                
                                <div class="form-group col-md-12 col-xs-12">
                                    <div class="col-xs-12">
                                        <button class="btn btn-minw btn-primary ajax-post" target-form="form-builder" type="submit">提交</button>
                                        <button class="btn btn-default" type="button" onclick="javascript:history.back(-1);return false;">返回</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block}

{block name="footer"}
{/block}