<div class="footer">
    <div class="w1000">
        <div class="flinks">
            <a class="a1" href="/helps/contact.html" target="_blank">联系我们</a>
            <a href="/helps/about.html" target="_blank">关于我们</a>
            <a href="/helps/points.html" target="_blank">获取积分</a>
        </div>
        <div class="powerby">
            <span class="fl">Copyright 2016-2019 © 1024素材（www.it1024.me）</span>
            <span class="fr">
                <a target="_blank" href="javascript:;">
                    <img src="/static/picture/beian.png" width="15" height="15" style="margin-bottom:-4px; margin-right:5px;"/>X公网安备 xxxxxxxxx - XICP备XXXXXX号-2</p>
                </a>
            </span>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="globalR-side-bar">
    <ul class="side-bar sb-middle">
        <li class="sign-in">
            <a href="/member/signin.html" target="_blank" rel="nofollow"><i class="fa fa-pencil-square-o"></i><br/>签到</a>
            <div class="coin"></div>
        </li>
        <li><a href="javascript:void(0);" rel="nofollow" target="_blank">QQ<br>联盟</a>
            <div class="introduce qq-group-box">
                <a class="head clearfix" href="javascript:;" rel="nofollow" target="_blank">
                    <div class="fl title">QQ联盟</div>
                </a>
                <a class="qq-group-list clearfix" href="javascript:;" target="_blank" rel="nofollow">
                    <div class="fl name">技术交流群</div>
                    <span class="fr add-group">加群</span>
                </a>
                <a class="qq-group-list clearfix" href="javascript:;" target="_blank" rel="nofollow">
                    <div class="fl name">1024素材网客服</div>
                    <span class="fr add-group">咨询</span>
                </a>
            </div>
        </li>
        <!--<li><a href="javascript:void(0);" rel="nofollow" style="cursor:default;">微信签到</a>
            <div class="introduce" id="wechat_box">
                <div style="padding: 15px 0;">微信小程序签到</div>
                <img src="static/picture/weixin-qiandao.jpg" width="150" height="150" class="qrcode"></div>
        </li>-->
        <!--<li class="match">
            <a href="/recharge-index.html" target="_blank" rel="nofollow"><i class="fa fa-jpy" aria-hidden="true"></i><br/>充值</a>
        </li>-->
    </ul>
    <ul class="side-bar sb-bottom">
        <li class="phone udesk-btn">
            <a href="javascript:;" target="_blank" rel="nofollow"><i class="fa fa-comments-o" aria-hidden="true"></i><br/>客服
            </a>
            <div class="introduce"><p class="service-title">客服电话</p>
                <div class="service-info"><p>
                    <a class="kefu-call-btn kefu-call-border  udesk-btn" href="javascript:;" target="_blank" rel="nofollow">
                        <em class="kefu-icon"></em><span class="callkf">点我联系</span>
                    </a>
                </p>
                    <p>客服QQ：1149986622</p>
                    <p class="last-child">周一至周日：8：30 - 23：00</p></div>
            </div>
        </li>
    </ul>
    <ul class="side-bar sb-floor">
        <li class="return-top-r return-top" onclick="Backtop();"><i class="fa fa-arrow-up" aria-hidden="true"></i></li>
    </ul>
</div>
<script type="text/javascript" src="/static/js/common.js"></script>