<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {include file="meta"/}
    <link rel="stylesheet" type="text/css" href="/static/css/themes.css"/>

<body>

<!--头部内容-->
{include file="header"/}


<div class="wrapper w1000">
    <div class="breadcrumb"><strong>当前位置：</strong> <a href="/"><i class="fa fa-home"></i> 首页</a> »
        <a href="javascript:;">帮助中心</a> » <a href="/helps/about.html">关于我们</a> »
    </div>
    <div class="contentShow fl">
        <div class="project-header" style="height:60px;"><h1>关于我们</h1></div>
        <div class="project-content"><p style="text-indent:2em;">
            1024素材网专注 Web 开发技术，分享最前沿的 Web 开发教程、资源和和素材，是面向前端开发人员、PHP初学者和设计师的学习交流平台。
        </p>
            <p style="text-indent:2em;">
                网站旨在提供一个前端开发工程师、PHP初学者交流平台，让更多的前端开发工程师、PHP初学者在这里获得知识、提高技能，建立一个良好的环境，共同更进步！或许这是我们同样的目标，因此需要得到大家的支持和鼓励，素材牛也会一如既往的坚持下去，成为您前进道路上的伙伴，一起努力！
            </p></div>
    </div>
    {include file="helps/right"}
</div>


<!--尾部内容-->
{include file="footer"/}
</body>
</html>