<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {include file="meta"/}
    <link rel="stylesheet" type="text/css" href="/static/css/themes.css"/>

<body>

<!--头部内容-->
{include file="header"/}


<div class="wrapper w1000">
    <div class="breadcrumb"><strong>当前位置：</strong> <a href="/"><i class="fa fa-home"></i> 首页</a> »
        <a href="javascript:;">帮助中心</a> » <a href="/helps/contact.html">联系我们</a> »
    </div>
    <div class="contentShow fl">
        <div class="project-header" style="height:60px;"><h1>联系我们</h1></div>
        <div class="project-content"><p>
            QQ：1149986622
        </p>
            <p>
                Email：1149986622@qq.com
            </p></div>
    </div>
    {include file="helps/right"}
</div>


<!--尾部内容-->
{include file="footer"/}
</body>
</html>