<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {include file="meta"/}
    <link rel="stylesheet" type="text/css" href="/static/css/themes.css"/>

<body>

<!--头部内容-->
{include file="header"/}


<div class="wrapper w1000">
    <div class="breadcrumb"><strong>当前位置：</strong> <a href="/"><i class="fa fa-home"></i> 首页</a> »
        <a href="JavaScript:;">帮助中心</a> » <a href="/helps/copyright.html">版权声明</a> »
    </div>
    <div class="contentShow fl">
        <div class="project-header" style="height:60px;"><h1>版权声明</h1></div>
        <div class="project-content"><p style="text-indent:2em;">
            it1024素材网个人账号仅限个人使用，也限制在多台设备频繁切换使用。
        </p>
            <p style="text-indent:2em;">
                由于it1024素材网（www.it1024.me）上的资源均来源于网络用户分享，故it1024素材网不具备充分的监控能力来审查资源是否存在侵权等情节。it1024素材网不拥有此类资源的版权，本站所有资源仅供学习与交流，不得用于任何商业用途的范围，用户应自觉遵守著作权法及其他相关法律的规定，不得侵犯本网站及权利人的合法权利， 给it1024素材网和任何第三方造成损失的，侵权用户应负全部责任。
            </p>
            <p style="text-indent:2em;">
                it1024素材网鼓励用户对网站上的作品进行全面监督，当版权拥有者提出侵权指控并出示充分的版权证明材料时，it1024素材网会在第一时间对投诉举报进行核实，并及时清理侵权作品。it1024素材网“原创作品”会在内容中标注，所发布展示的原创作品，版权归上传作者所有，it1024素材网在满足前款条件下针对原创作品栏目采取移除等相应措施后不为此向原发布人承担违约责任或其他法律责任，包括不承担因侵权指控不成立而给原发布人带来损害的赔偿责任。
            </p>
            <p style="text-indent:2em;">
                it1024素材网赋予每个账号在满足一定条件的情况下，通过网站正式程序下载资源的资格，但作为网站管理者，有权为保护账号安全，同时给予一定的下载限制，而不因此承担法律责任。
            </p>
            <p style="text-indent:2em;">
                本站会员所发评论言论仅代表网友自己，不代表本站观点，当用户的言论和行为侵犯了第三方的著作权或其他权利，责任在于用户本人，it1024素材网不承担任何法律责任。在it1024素材网发表言论的网友，我们认为用户已经知道并理解这一声明。
            </p>
            <p style="text-indent:2em;">
                如果版权拥有者发现自己作品被侵权，任何单位和个人向it1024素材网投诉举报时，应提交姓名、电话、身份证明、权属证明、具体链接（URL）及侵权情况详细描述发往版权投诉举报通道，it1024素材网在收到相关举报文件后，若情况属实，会在24小时内采取删除、屏蔽、断开链接等措施来移除相关涉嫌侵权的内容。
            </p>
            <p>
                <br>
            </p>
            <h3>
                版权投诉举报通道
            </h3>
            <p>
                QQ：1149986622 (周一至周五 9:30—18:00)
            </p>
            <p>
                邮箱：1149986622@qq.com
            </p>
            <p>
                <br>
            </p>
            <h3>
                注册声明
            </h3>
            <p>
                1、用户注册、登录后，视为已接受本协议。
            </p>
            <p>
                2、用户承诺遵守国家的法律法规及部门规章。
            </p>
            <p>
                3、it1024素材网内资源仅能用于前端技术交流和学习。
            </p>
            <p>
                4、用户承诺上传资源必须合法内容及无版权纠纷内容。
            </p>
            <p>
                5、用户承诺在it1024素材网下载资源，仅用于前端技术交流学习，若该用户用于商业用途，侵犯第三人的知识产权，造成任何法律纠纷和责任均由该用户承担。
            </p>
            <p>
                6、it1024素材网认为，一切用户在进入it1024素材网主页及各分页时已经仔细看过本协议条款并完全同意，敬请谅解
            </p></div>
    </div>
    {include file="helps/right"}
</div>


<!--尾部内容-->
{include file="footer"/}
</body>
</html>