<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {include file="meta"/}
    <link rel="stylesheet" type="text/css" href="/static/css/themes.css"/>

<body>

<!--头部内容-->
{include file="header"/}


<div class="wrapper w1000">
    <div class="breadcrumb"><strong>当前位置：</strong> <a href="/"><i class="fa fa-home"></i> 首页</a> »
        <a href="JavaScript:;">帮助中心</a> » <a href="/helps/points.html">获取积分</a> »
    </div>
    <div class="contentShow fl">
        <div class="project-header" style="height:60px;"><h1>获取积分</h1></div>
        <div class="project-content"><p>
            <strong>积分获取方式：</strong>
        </p>
            <p>
                1、注册及送 +30 牛币 +30 经验
            </p>
            <p>
                1、评论素材 +10 牛币 +10 经验（每日10次奖励封顶）
            </p>
            <p>
                2、每日签到 +20&nbsp;牛币 +20 经验
            </p>
            <p>
                3、发布素材，一经录用给予高额牛币奖励（<span>最低 +20 积分，按素材质量发放</span>）。
            </p>
            <p>
                4、素材被下载，发布的素材被别人下载，获得发布时设置的积分。
            </p>
            <!--<p>
                4、可直接充值 1元 = 10牛币（充多送多）
                <span style="color:#337FE5;">&gt;&gt;</span><a href="/recharge-index.html" target="_blank"><span style="color:#337FE5;">我要充值</span></a>
            </p>
            <p>
                <strong>钻石获取方式：</strong>
            </p>
            <p>
                1、只能充值获取 1元 = 1钻石（充多送多）
                <span style="color:#337FE5;">&gt;&gt;</span><a href="/recharge-index.html" target="_blank"><span style="color:#337FE5;">我要充值</span></a>
            </p>-->
            <p>
<span><span><br>
</span></span>
            </p>
            <p>
                <span> </span>
            </p>
            <hr>
            <p>
                <br>
            </p>
            <!--<p>
                <strong>VIP等级特权说明：</strong>
            </p>
            <p>
                VIP1对应免牛币积分下载栏目：<a href="http://www.sucainiu.com/jquery.html" target="_blank"><span style="color:#337FE5;">网页特效</span></a><span style="color: rgb(51, 127, 229); font-size:17px;background-color:#fffbfb;"="">、</span>
                <a href="http://www.sucainiu.com/php.html" target="_blank"><span style="color:#337FE5;">PHP/MySql</span></a><span style="color: rgb(51, 127, 229); font-size:17px;background-color:#fffbfb;">、</span>
                <a href="http://www.sucainiu.com/templates.html" target="_blank"><span style="color:#337FE5;">网站模版</span></a><span style="color: rgb(51, 127, 229); font-size:17px;background-color:#fffbfb;">、</span>
                <a href="http://www.sucainiu.com/codelist.html" target="_blank"><span style="color:#337FE5;">常用代码</span></a>
            </p>
            <p>
                <span>VIP2对应免牛币积分</span><span>下载栏目：</span><a href="http://www.sucainiu.com/jquery.html" target="_blank"><span style="color:#337FE5;">网页特效</span></a><span style="color: rgb(51, 127, 229); font-size:17px;background-color:#ffffff;">、</span>
                <a href="http://www.sucainiu.com/php.html" target="_blank"><span style="color:#337FE5;">PHP/MySql</span></a><span style="color: rgb(51, 127, 229); font-size:17px;background-color:#ffffff;">、</span>
                <a href="http://www.sucainiu.com/templates.html" target="_blank"><span style="color:#337FE5;">网站模版</span></a><span style="color: rgb(51, 127, 229); font-size:17px;background-color:#ffffff;">、</span>
                <a href="http://www.sucainiu.com/codelist.html" target="_blank"><span style="color:#337FE5;">常用代码</span></a><span style="color: rgb(51, 127, 229); font-size:17px;background-color:#ffffff;">、</span>
                <a href="http://www.sucainiu.com/video-view.html" target="_blank"><span style="color:#337FE5;">视频教程</span></a>
            </p>
            <p>
                <span>SVIP对应免牛币积分</span><span>下载栏目：</span><a href="http://www.sucainiu.com/jquery.html" target="_blank"><span style="color:#337FE5;">网页特效</span></a><span style="color: rgb(51, 127, 229); font-size:17px;background-color:#ffffff;">、</span>
                <a href="http://www.sucainiu.com/php.html" target="_blank"><span style="color:#337FE5;">PHP/MySql</span></a><span style="color: rgb(51, 127, 229); font-size:17px;background-color:#ffffff;">、</span>
                <a href="http://www.sucainiu.com/templates.html" target="_blank"><span style="color:#337FE5;">网站模版</span></a><span style="color: rgb(51, 127, 229); font-size:17px;background-color:#ffffff;">、</span>
                <a href="http://www.sucainiu.com/codelist.html" target="_blank"><span style="color:#337FE5;">常用代码</span></a><span style="color: rgb(51, 127, 229); font-size:17px;background-color:#ffffff;">、</span>
                <a href="http://www.sucainiu.com/video-view.html" target="_blank"><span style="color:#337FE5;">视频教程</span></a><span style="color: rgb(51, 127, 229); font-size:17px;background-color:#ffffff;">、</span>
                <a href="http://www.sucainiu.com/source.html" target="_blank"><span style="color:#337FE5;">整站源码</span></a>
            </p>
            <p>
                <strong>问：为什么VIP只能免费下载牛币素材不能下载钻石素材？</strong><br>
                答：本站会高价收购一些高质量素材、源码，会以钻石素材的形式在本站进行低价出售，等成本回收到一半时，再将其设置为牛币素材。所以本站全部钻石素材会逐渐变为牛币素材，提供给VIP会员免费下载。
            </p>-->
            </div>
        </div>
        {include file="helps/right"}
    </div>
    
    
    <!--尾部内容-->
    {include file="footer"/}
</body>
</html>