<div class="sidebar fr">
    <ul class="s_nav">
        <li><a class="{$action=='points'?'hover':''}" href="/helps/points.html"><i class="fa fa-money"></i> &nbsp;&nbsp;获取积分</a>
        </li>
        <li><a class="{$action=='contact'?'hover':''}" href="/helps/contact.html"><i class="fa fa-phone"></i> &nbsp;&nbsp;联系我们</a>
        </li>
        <li><a class="{$action=='about'?'hover':''}" href="/helps/about.html"><i class="fa fa-meh-o"></i> &nbsp;&nbsp;关于我们</a>
        </li>
        <li>
            <a class="{$action=='copyright'?'hover':''}" href="/helps/copyright.html"><i class="fa fa-folder"></i> &nbsp;&nbsp;版权声明</a>
        </li>
    </ul>
</div>
<div class="clear"></div>