{extend name="layout" /}

{block name="meta"}
    <link rel="stylesheet" href="/plugins/select2/select2.min.css">
    <link rel="stylesheet" href="/plugins/webuploader/webuploader.css?v=20180327">
{/block}

{block name="content"}
<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="block">
                <div class="block-header bg-gray-lighter">
                    <ul class="block-options">
                        <li>
                            <button type="button" class="page-reload"><i class="si si-refresh"></i></button>
                        </li>
                        <li>
                            <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                        </li>
                    </ul>
                    <h3 class="block-title">{:this_action($action)}</h3>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active">
                        <div class="block-content">
                            <form class="form-builder row" name="form-builder" method="post">
                                <div class="form-group hidden " id="form_group_id">
                                    <input type="hidden" name="id" value="{$id}" class="form-control" id="id">
                                    <input type="hidden" name="code" value="{$code}" class="form-control" id="code">
                                </div>

                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="form_group_username">
                                    <label class="col-xs-12" for="username">用户名</label>
                                    <div class="col-sm-12">
                                        <input class="form-control" type="text" id="username" name="username" value="{$username}" {if($action !="create")}disabled="disabled"{/if}>
                                        <div class="help-block">不可更改</div>
                                    </div>
                                </div>

                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="form_group_nickname">
                                    <label class="col-xs-12" for="nickname">昵称</label>
                                    <div class="col-sm-12">
                                        <input class="form-control" type="text" id="nickname" name="nickname" value="{$nickname}" placeholder="请输入昵称">
                                        <div class="help-block">可以是中文</div>
                                    </div>
                                </div>

                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="form_group_role">
                                    <label class="col-xs-12" for="role">角色</label>
                                    <div class="col-sm-12">
                                        <select class="js-select2 form-control" id="role" name="role_id" data-allow-clear="true" data-placeholder="请选择一项">
                                            <option value="0" {if $role_id == 0}selected{/if}>普通用户</option>
                                            {foreach $roles as $k=>$v}
                                            <option value="{$v.id}" {if $role_id == $v['id']}selected{/if}>{$v.name}</option>
                                            {/foreach}
                                        </select>
                                        <div class="help-block">非超级管理员，禁止创建与当前角色同级的用户</div>
                                    </div>
                                </div>

                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="form_group_email">
                                    <label class="col-xs-12" for="email">邮箱</label>
                                    <div class="col-sm-12">
                                        <input class="form-control" type="text" id="email" name="email" value="{$email}" placeholder="请输入邮箱">
                                    </div>
                                </div>

                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="form_group_password">
                                    <label class="col-xs-12" for="password">密码</label>
                                    <div class="col-sm-12">
                                        <input class="form-control" type="password" id="password" name="password" value="" placeholder="请输入密码">
                                        <div class="help-block">必填，6-20位</div>
                                    </div>
                                </div>

                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="form_group_mobile">
                                    <label class="col-xs-12" for="phone">手机号</label>
                                    <div class="col-sm-12">

                                        <input class="form-control" type="text" id="phone" name="phone" value="{$phone}" placeholder="请输入手机号">

                                    </div>
                                </div>

                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="form_group_avatar">
                                    <label class="col-xs-12" for="avatar">头像</label>
                                    <div class="col-xs-12 js-upload-image">
                                        <div id="file_list_avatar" class="uploader-list">
                                            <div class="file-item thumbnail">
                                                <img data-original="/admin/img/none.png" src="{:get_thumb($avatar)}" width="100">
                                                <i class="fa fa-times-circle remove-picture"></i>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <input type="hidden" name="avatar" data-multiple="false" data-watermark="" data-thumb="" data-size="0" data-ext="" id="avatar" value="{$avatar}">
                                        <div id="picker_avatar" class="webuploader-container">上传单张图片</div>
                                        <div class="help-block">{$tips}</div>
                                    </div>
                                </div>

                                <!--<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="form_group_avatars">
                                    <label class="col-xs-12" for="avatar">头像</label>
                                    <div class="col-xs-12 js-upload-images">
                                        <div id="file_list_avatars" class="uploader-list ">
                                            <div class="file-item thumbnail">
                                                <img data-original="/admin/img/none.png" src="{:get_thumb($v.value)}" width="100">
                                                <i class="fa fa-times-circle remove-picture"></i>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <input type="hidden" name="avatars" data-multiple="true" data-watermark="" data-thumb="" data-size="0" data-ext="" id="avatars" value="{$v.value}">
                                        <div id="picker_avatars" class="webuploader-container">上传多张图片</div>
                                        <div class="help-block">{$v.tips}</div>
                                    </div>
                                </div>-->

                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="form_group_status">
                                    <label class="col-xs-12">状态</label>
                                    <div class="col-xs-12">
                                        <label class="css-input css-radio css-radio-primary css-radio-sm push-10-r  ">
                                            <input type="radio" name="status" id="status1" value="0" {if($status == 0)} checked {/if}>
                                            <span></span> 禁用
                                        </label>
                                        <label class="css-input css-radio css-radio-primary css-radio-sm push-10-r  ">
                                            <input type="radio" name="status" id="status2" value="1"  {if($status == 1 || empty($status))} checked {/if}>
                                            <span></span> 启用
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-md-12 col-xs-12">
                                    <div class="col-xs-12">
                                        <button class="btn btn-minw btn-primary ajax-post" target-form="form-builder" type="submit">提交</button>
                                        <button class="btn btn-default" type="button" onclick="javascript:history.back(-1);return false;">返回</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
{/block}

{block name="footer"}
    <script src="/plugins/webuploader/webuploader.min.js?v=20180327"></script>
    <script src="/plugins/select2/select2.full.min.js?v=20180327"></script>
    <script>
        App.initHelpers(['appear', 'slimscroll', 'magnific-popup', 'table-tools']);
        App.initHelpers(["select2"]);
    </script>
{/block}